body {
    margin: 0;
    width: 100%;
    
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    position: relative;
    width: fit-content;
    margin: 12px;
    left: 50%;
    transform: translate(-50%, 0);
}
table {
    
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
}
.td {    
    width: 85px;
    height: 85px;   
    background-color: rgb(0, 0, 0);
}
#score {
    
    font-size:40px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50px;
    right: 50px;
    transform: translate(-100%, 0);
}
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 4px;
  }
  
.button:hover {
    background-color: #4CAF50;
    color: white;
}

.scoreTable {
    border-collapse: collapse;
  }
  
  .scoreTh, .scoreTd {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
  .scoreTr:hover {background-color: #D6EEEE;}