body {
    margin: 0;
    width: 100%;
    
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    position: relative;
    width: fit-content;
    margin: 12px;
    left: 50%;
    transform: translate(-50%, 0);
}
table {
    
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
}
td {    
    width: 85px;
    height: 85px;   
    background-color: rgb(0, 0, 0);
}
#score {
    
    font-size:40px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50px;
    right: 50px;
    transform: translate(-100%, 0);
}
