body {
    margin: 0;
    width: 100%;
    
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    position: relative;
    width: fit-content;
    margin: 12px;
    left: 50%;
    transform: translate(-50%, 0);
}
table {
    
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
}
.td {    
    width: 85px;
    height: 85px;   
    background-color: black;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}
#score {
    
    font-size:40px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50px;
    right: 50px;
    transform: translate(-100%, 0);
}
.button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    width: 100px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #065809;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    margin-left: 40%;
}
  
.button:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: url(https://www.teahub.io/photos/full/255-2550281_wallpaper-gradient-green-yellow-linear-dark-cyan-color.jpg);
    background-position: center;
    background-size: 100%;
}

.scoreTable {
    border-collapse: collapse;
  }
  
  .scoreTh, .scoreTd {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
  .scoreTr:hover {background-color: #D6EEEE;}


.background{
    background-image: url(https://www.teahub.io/photos/full/255-2550281_wallpaper-gradient-green-yellow-linear-dark-cyan-color.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.pole{
    border-radius: 10px;
    border-color: #065809;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 40px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
#score{
    color: white;
}